@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: "JosipKnezevic";
	src: url("font/JosipKnezevic.woff2") format("woff2");
}

h1 {
	color: white;
	font-family: JosipKnezevic;
	font-size: 100px;
	background-color: rgba(126,0,2,0.79);
	line-height: 40px;
	padding: 55px;
	width: 825px;
}

h3 {
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 60px;
	background-color: rgba(126,0,2,0.79);
	padding: 20px;
	line-height: 40px;
	width: 400px;
}

ul {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: white;
}

h2 {
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 60px;
	background-color: rgba(126,0,2,0.79);
	padding: 20px;
	line-height: 40px;
	width: 800px;
}

p {
	color:white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	background-color: rgba(126,0,2,0.50);
	padding: 5px;
	line-height: 40px;
	width: 600px;
}

a {
	color: white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 35px;
	background-color: rgba(126,0,2,0.50);
	padding: 5px;
	line-height: 50px;
	border:5px solid rgba(255,255,255,0.50);
}

body {
	background-image: url("slike/spacebg0.jpg");
}
